nav{
    padding: 18px !important;
    border-bottom: 3px solid #F8BD00;
}
nav .logo{
    color: #f8bd00 !important;
    font-size: 1.6em;
    font-weight: bold;
}
nav ul li a{
    color: #f7fafc !important;
    font-size: 1.1em;
    padding: 15px 18px !important;
}
nav ul li a:hover{
    transition: 0.5s;
    color: #f8bd00 !important;
    background-color: #232325;
    text-shadow: #9d823b 0px 0px 8px;
}


.ultimos_cadastros{
    text-align: center;
    padding: 28px;
}

.infoText_prod{
    text-align: center !important;
    border:1px solid #cbd5e0;
}
