.buttons_gear{
    padding-top: 28px;
}
.buttons_gear .btn:hover{
    opacity: 0.5;
    transition: 0.5s;
}
.infoDesc{

    text-align: center;
    padding: 15px;
    border-bottom: 1px solid #F8BD00;
}
.descricao_text{
    padding: 25px 0px;
}

